// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-library';
@import 'carousel';
@import 'cart';

body {
	padding: 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
}

.navbar-collapse {
	justify-content: flex-end;
}

.carousel {
	background-color: #efebdf !important;
}

.navbar-brand {
	padding: 0;
}

cc-checkout {
	display: block;
}

/* user profile buttons */
.user_profile_btn {
    letter-spacing: 0;
    font-weight: 400;
}

.notification {
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #b9950b;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 1000;
}

.notification.show {
	opacity: 1;
	transform: translateY(0);
}

.notification.hide {
	opacity: 0;
	transform: translateY(-20px);
}

.btn-dark:not(:disabled):not(.disabled).active
{
    background-color: #9b8338;
    border-color: #ffffff;
}

// Donalds Custom
@import 'donalds';
