// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-library';
@import 'carousel';

body {
	padding: 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
}

.navbar-collapse {
	justify-content: flex-end;
}

.carousel {
	background-color: #777;
}

.navbar-brand {
	padding: 0;
}

/* user profile buttons */
.user_profile_btn {
    letter-spacing: 0; font-weight: 400;
}
