.card, .card-footer:last-child, .card-header:first-child {
    border-radius: 0px;
	}

.summary{
    background: #f3f2ec;
    padding: 30px;
}

body {
	color: #202529;
}

.btn-dark:not(:disabled):not(.disabled).active
{
    background-color: #9b8338;
    border-color: #ffffff;
}